
<!DOCTYPE html>
<html>
  <head>
    <title>ARC Dekorasyon | Ankara Dekorasyon | Boya, Badana, Alçıpan, Asma Tavan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/media/image-default/logo.png"/>
    <link rel="stylesheet" href="https://madsparrow.me/emily/assets/css/plugins.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    
  </head>
  <body>
    <div class="ms-main-container">
      <div class="ms-preloader"></div>
      <header class="ms-header navbar-white">
        <nav class="ms-nav">
          <div class="ms-logo">
            <a href="/" data-type="page-transition">
              <div class="logo-light "><img src="/media/image-default/ARC LOGO.png" alt="logo image"></div>
              <div class="logo-dark current"><img src="/media/image-default/ARC LLOGO 2.png" alt="logo image"></div>
            </a>
          </div>
          <button class="hamburger" type="button" data-toggle="navigation">
          <span class="hamburger-box">
            <span class="hamburger-label">MENÜ</span>
            <span class="hamburger-inner"></span>
          </span>
          </button>
          <div class="height-full-viewport">
            <ul class="ms-navbar">
              <!-- Nav Link -->
              <li class="nav-item">
                <a href="/" data-type="page-transition">
                  <span class="ms-btn">ANA SAYFA</span>
                  <span class="nav-item__label">Ana sayfaya dön</span>
                </a>
              </li>
              <!-- Nav Link -->
              <li class="nav-item">
                <a href="/about-us" data-type="page-transition">
                  <span class="ms-btn">KURUMSAL</span>
                  <span class="nav-item__label">Hakkımızda daha fazla</span>
                </a>
              </li>
              <!-- Nav Link -->
              <li class="nav-item">
                <a href="/services" data-type="page-transition">
                  <span class="ms-btn">HİZMETLER</span>
                  <span class="nav-item__label">Neler yapıyoruz?</span>
                </a>
              </li>
              <!-- Nav Link -->
              <li class="nav-item">
                <a href="/gallery" data-type="page-transition">
                  <span class="ms-btn">GALERİ</span>
                  <span class="nav-item__label">Çalışmalarımızı görüntüle</span>
                </a>
              </li>
              <!-- Nav Link -->
              <li class="nav-item">
                <a href="/contact-us" data-type="page-transition">
                  <span class="ms-btn">İLETİŞİM</span>
                  <span class="nav-item__label">Hemen ulaşın</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <main class="ms-container home-slider">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slide-inner" data-swiper-parallax="45%">
                <div class="overlay"></div>
                <div class="slide-inner--image" style="background-image: url('/media/image-default/salon.webp')"></div>
                <div class="slide-inner--info">
                  <h1>SALON <br> DEKORASYONU</h1>
                  <a href="/gallery" data-type="page-transition" class="ms-btn--slider">İNCELE</a><br>
                  <a href="/about-us" data-type="page-transition" class="ms-btn--slider">DAHA FAZLA</a>
                  <br><br><br>
                  <a href="#first">
                  <div id="scroll-down-animation">
                    <span class="mouse">
                      <span class="move"></span>
                    </span>
                  </div>
                  </a>
                </div>
              </div>
              
            </div>
            <div class="swiper-slide">
              <div class="slide-inner" data-swiper-parallax="45%">
                <div class="overlay"></div>
                <div class="slide-inner--image" style="background-image: url('/media/image-default/banyo.webp')"></div>
                <div class="slide-inner--info">
                  <h1>BANYO <br> DEKORASYONU</h1>
                  <a href="/gallery" data-type="page-transition" class="ms-btn--slider">İNCELE</a><br>
                  <a href="/about-us" data-type="page-transition" class="ms-btn--slider">DAHA FAZLA</a>
                  <br><br><br>
                  <a href="#first">
                    <div id="scroll-down-animation">
                      <span class="mouse">
                        <span class="move"></span>
                      </span>
                    </div>
                    </a>
                </div>
              </div>
            </div>
            
            <div class="swiper-slide">
              <div class="slide-inner" data-swiper-parallax="45%">
                <div class="overlay"></div>
                <div class="slide-inner--image" style="background-image: url('/media/image-default/mutfak.webp')"></div>
                <div class="slide-inner--info">
                  <h1>MUTFAK <br> DEKORASYONU</h1>
                  <a href="/gallery" data-type="page-transition" class="ms-btn--slider">İNCELE</a><br>
                  <a href="/about-us" data-type="page-transition" class="ms-btn--slider">DAHA FAZLA</a>
                  <br><br><br>
                  <a href="#first">
                    <div id="scroll-down-animation">
                      <span class="mouse">
                        <span class="move"></span>
                      </span>
                    </div>
                    </a>
                </div>
              </div>
            </div>
            
            <div class="swiper-slide">
              <div class="slide-inner" data-swiper-parallax="45%">
                <div class="overlay"></div>
                <div class="slide-inner--image" style="background-image: url('/media/image-default/ofis.webp')"></div>
                <div class="slide-inner--info">
                  <h1>OFİS <br> DEKORASYONU</h1>
                  <a href="/gallery" data-type="page-transition" class="ms-btn--slider">İNCELE</a><br>
                  <a href="/about-us" data-type="page-transition" class="ms-btn--slider">DAHA FAZLA</a>
                  <br><br><br>
                  <a href="#first">
                    <div id="scroll-down-animation">
                      <span class="mouse">
                        <span class="move"></span>
                      </span>
                    </div>
                    </a>
                  
                </div>
               
              </div>
            </div>
          </div>
          <div class="swiper-nav-btn">
            <div class="swiper-button-prev swiper-button-white">GERİ</div>
            <div class="swiper-button-next swiper-button-white">İLERİ</div>
          </div>
          <!-- Pagination -->
          <div class="expanded-timeline">
            <div class="expanded-timeline__counter"></div>
            <div class="swiper-pagination"></div>
            <div class="scroll-message">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.5 15.98" class="scroll-svg"><g>
              <g data-name="Layer 1"><polygon fill="#a07f3d" points="0 4.64 0.71 5.34 3.85 2.2 3.85 15.98 4.85 15.98 4.85 2.2 8 5.34 8.71 4.64 4.35 0.29 0 4.64"></polygon><polygon fill="#a07f3d" points="11.65 0 11.65 13.79 8.5 10.64 7.79 11.35 12.15 15.7 16.5 11.35 15.79 10.64 12.65 13.79 12.65 0 11.65 0"></polygon></g></g></svg>Kaydır
            </div>
          </div>
          
        </div>
      </main>
      <!-- /Container -->
    </div>
    <section style="margin-bottom: 50px;" id="first">
      <br><br><br><br>
      <div id="article_container" >
        <div class="article_container_img js-top"></div>
        <div class="article_container_content js-top">
             
             <h1>HAKKIMIZDA</h1>
             <div class="divider"></div>
             <p>
              1992'den bu yana müşterilerine daha iyi hizmet verme amacında olup, altyapısını bu doğrultuda geliştirmekte, her zaman en güncel olanı takip edip, en kaliteli işi ve ürünü sunmaktadır.

              İş disiplini ve kalite anlayışı ile kısa sürede müşterilerinin beğenisini kazanan ARC Dekorasyon, malzeme teminini ve uygulama hizmetlerini her geçen gün geliştirerek sürdürmekte, sektörde daima ilerlemeyi ve iş kalitesini devamlı artırmayı amaçlamaktadır.  
            
              Amacımız sizlere her türlü boya ve dekorasyon hizmetlerini profesyonelce ve en uygun fiyatlarla sunabilmek, iş yerinizde ve evinizde aradığInız huzurlu ortamı sağlayabilmektir.
              
              Çalıştığımız insanların yüzlerinde gördügümüz gülümsemelerle ve yıllardan beri tecrübemizle sizinde ihtiyaçlarınıza cevap verebilirsek ne mutlu bize.
              
              Siz değerli müşterilerimize Ankara'nın her bölgesinde hizmet veriyoruz.

              <br>ADİL BENLİ
             </p>
             
        </div>
     </div>
    </section>



    <div class="containeeer js-top">

      <div class="slide" style="background-image: url({{image.resim1.url}});">
        <h3>{{image.name_1}}</h3>
      </div>
      <div class="slide" style="background-image: url({{image.resim2.url}});">
        <h3>{{image.name_2}}</h3>
      </div>
      <div class="slide active" style="background-image: url({{image.resim3.url}});">
        <h3>{{image.name_3}}</h3>
      </div>
      <div class="slide" style="background-image: url({{image.resim4.url}});">
        <h3>{{image.name_4}}</h3>
      </div>

    </div>




    </div>
    <section id="second">
      <div id="article_container" >
        
        <div class="article_container_content js-top">
            
             <h1 class="baslık">BOYA & BADANA</h1>
             <div class="divider "></div>
             <p>
                1992'den bu yana sektördeki tecrübemizle evleriniz ve ofisleriniz A kalite malzemelerle ve 1. sınıf işçilikle gerçekleştirilir. Size sadece hayal etmek kalır. 
                <br>
                Ev, iş yeri, Otel, Fabrika, Restaurant vb. her türlü ortam için boya badana işlerinizi verdiğimiz süreç içerisinde bitirme garantisi ile bizimle çalışabilirsiniz. Firmamızın uzman ekipleri yapılacak uygulama yerinde keşif yapıp, size öneriler sunarak ne tür bir boyaya ihtiyacınız olduğunu öneriler ve tecrübeler ile anlatarak sorunsuz bir işe sahip olmanız için çözümler üretir. Renk kataloğunda sunacağımız çeşitlerden birisini seçtikten sonra boyayı temin edip, boyacı ustası boya badana sürecini başlatmaktadır.
                <br>▹ Dekoratif Boya
                <br>▹ Saten Boya
                <br>▹ Yağlı Boya
                <br>▹ Plastik Boya
                <br>▹ Epoksi Boya
                <br>▹ Dış Cephe Kaplamaları ve Boyası
                <br>▹ Kireç Badana
                <br>▹ Yol Boyaları
                <br>▹ Elektrostatik Boya
                <br>▹ Dekoratif Boya ve kaplamalar
                <br>▹ Lake Boya

             </p>
             
        </div>
        <div class="article_container_img1 js-top hidee"></div>
     </div>
    </section>

    <section id="third" class="article_containerr">
      <div id="article_container" class="article_containerr">
        <div class="article_container_img2 js-top hidee"></div>
        <div class="article_container_content js-top">
            
             <h1 class="baslık">ALÇIPAN</h1>
             <div class="divider "></div>
             <p>
                İç mekan dekorasyonların vazgeçilmez parçaları olan asma tavan, bölme duvar gibi yapılar farklı tasarımlarla mekanınıza hayat veriyor.
              <br> <strong>▹ Yer döşemesi:</strong> Uygulama alanlarından bir tanesidir. Bulunmuş olduğunuz yere gore dilediğiniz kalıpta alçıpan yapmış oldurabilirsiniz.

              <br><strong>▹ Duvar giydirme:</strong> Uygulama alanlarından bir tanesidir. Bulunduğunuz yerdeki oda duvarlarına istediğiniz şekilde giydirme yapabilirsiniz.

              <br><strong>▹ Bölme duvar:</strong> Uygulama alanlarından bir tanesidir. Bulunduğunuz yerdeki ofisin yada evinizin öteki odalara ulaşımını sağlar. Örneğin; mutfaktan salona açılan bölme duvar. 

              <br><strong>▹ Yer döşemesi: </strong>gene uygulama alanlarından bir tanesidir. Yine ofisinizin yada evinizin yer durumuna göre uygun ölçü ve kalite ile döşenmesidir.

              <br><strong>▹ Asma tavan: </strong>Uygulama alanlarından bir tanesidir. Genellikle ofisler için geçerlidir. Yüksek odalı yerleri asma tavan ile bölüp çift şekilde kullanma olanağı sağlar.
             </p>
             
        </div>
        
     </div>
    </section>

    <section id="forth" class="article_containerr" style="margin-bottom: 70px;">
      <div id="article_container" class="article_containerr" >
        
        <div class="article_container_content js-top">
         
             <h1 class="baslık">İÇ & DIŞ CEPHE TADİLAT</h1>
             <div class="divider "></div>
             <p>
                İç ve dış cephe tadilat işleriniz, mağaza, ev, ofis tamiratları yapılmaktadır.
               <br>▹ Asma tavan uygulamaları
               <br>▹ Gergi tavan uygulamaları 
               <br>▹ Alçı sıva yapılması
               <br>▹ Elektrik tesisatı yapımı
               <br>▹ Su tesisatı yapımı
               <br>▹ Boya yapılması
               <br>▹ Parke kaplama
             </p>
             
        </div>
        <div class="article_container_img5 js-top hidee"></div>
     </div>
    </section>
    <div class="containeeer js-top">
      <div class="slide" style="background-image: url({{image.resim5.url}});">
        <h3>{{image.name_5}}</h3>
      </div>
      <div class="slide" style="background-image: url({{image.resim6.url}});">
        <h3>{{image.name_6}}</h3>
      </div>
      <div class="slide active" style="background-image: url({{image.resim7.url}});">
        <h3>{{image.name_7}}</h3>
      </div>
      <div class="slide" style="background-image: url({{image.resim8.url}});">
        <h3>{{image.name_8}}</h3>
      </div>

    </div>
<footer class="footer" style="margin-top: 130px;">
  <div class="footer__addr">
    <img src="/media/image-default/ARC LLOGO 2.png" alt="">
    <p style="font-size:1.125rem;">A kalite malzemelerle ve birinci sınıf işçilikle yapılan tüm işler farkını ilk bakışta ortaya koyar. Hemen ulaşın hayalini kurduğunuz mekana sahip olun.</p>
  </div>
  
  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">GEZİNTİ</h2>

      <ul class="nav__ul">
        <li>
          <a href="/">Ana Sayfa</a>
        </li>
        <li>
          <a href="/about-us">Kurumsal</a>
        </li>
        <li>
          <a href="/services">Hizmetler</a>
        </li>

        <li>
          <a href="/gallery">Galeri</a>
        </li>
        <li>
          <a href="/contact-us">İletişim</a>
        </li>
      </ul>
    </li>
    
    
    <li class="nav__item">
      <h2 class="nav__title">SOSYAL MEDYA</h2>
      
      <ul class="nav__ul ">
        <li>
          <a><i class="bi bi-instagram"> Instagram</i></a>
        </li>
        
        <li>
          <a><i class="bi bi-facebook"> Facebook</i></a>
        </li>
        <li>
          <a href="https://wa.me/+905324450905"><i class="bi bi-whatsapp"> Whatsapp</i></a>
        </li>
        

      </ul>
    </li>
    
    <li class="nav__item">
      <h2 class="nav__title">İLETİŞİM</h2>
      
      <ul class="nav__ul">
        <li>
          <a href="tel:+905324450905">Telefon: 0532 445 09 05</a>
        </li>
        
        <li>
          <a href="https://wa.me/+905324450905">Whatsapp: 0532 445 09 05</a>
        </li>
        
       
      </ul>
    </li>
  </ul>
  
  <div class="legal">
    <p>2022 &copy; ARC Dekorasyon </p>
    
    <div class="legal__links">
     <a href="https://tetasoftware.com" target="_blank"><img src="/media/image-default/teta-logo-2.png" alt=""></a>
    </div>
  </div>
</footer>


   
    
    
    <script src="/static/js/scripts.js"></script>
    <script src="/static/js/slider.js"></script>
    <script src="/static/js/scripts2.js"></script>
    <!-- Main js -->
    <script type="text/javascript" src="/static/js/main.js"></script>
    
    <script src="https://unpkg.com/scrollreveal"></script>

  </body>
</html>

<script>

( function($) {
  
  $(document).ready(function() {
    
    var s           = $('.slider'),
        sWrapper    = s.find('.slider-wrapper'),
        sItem       = s.find('.slide'),
        btn         = s.find('.slider-link'),
        sWidth      = sItem.width(),
        sCount      = sItem.length,
        slide_date  = s.find('.slide-date'),
        slide_title = s.find('.slide-title'),
        slide_text  = s.find('.slide-text'),
        slide_more  = s.find('.slide-more'),
        slide_image = s.find('.slide-image img'),
        sTotalWidth = sCount * sWidth;
    
    sWrapper.css('width', sTotalWidth);
    sWrapper.css('width', sTotalWidth);
    
    var clickCount  = 0;
    
    btn.on('click', function(e) {
      e.preventDefault();

      if( $(this).hasClass('next') ) {
        
        ( clickCount < ( sCount - 1 ) ) ? clickCount++ : clickCount = 0;
      } else if ( $(this).hasClass('prev') ) {
        
        ( clickCount > 0 ) ? clickCount-- : ( clickCount = sCount - 1 );
      }
      TweenMax.to(sWrapper, 0.4, {x: '-' + ( sWidth * clickCount ) })


      //CONTENT ANIMATIONS

      var fromProperties = {autoAlpha:0, x:'-50', y:'-10'};
      var toProperties = {autoAlpha:0.8, x:'0', y:'0'};

      TweenLite.fromTo(slide_image, 1, {autoAlpha:0, y:'40'}, {autoAlpha:1, y:'0'});
      TweenLite.fromTo(slide_date, 0.4, fromProperties, toProperties);
      TweenLite.fromTo(slide_title, 0.6, fromProperties, toProperties);
      TweenLite.fromTo(slide_text, 0.8, fromProperties, toProperties);
      TweenLite.fromTo(slide_more, 1, fromProperties, toProperties);

    });
          
  });
})(jQuery);

$('.overlay').addClass('overlay-blue');
</script>





<script>
  window.sr=ScrollReveal();
  sr.reveal(".js-left",{
      origin: "left",
      duration:1000,
      distance:"2rem",
      delay:300,
  })
  sr.reveal(".js-right",{
      origin: "right",
      duration:1000,
      distance:"2rem",
      delay:300,
  })
  sr.reveal(".js-top",{
      origin: "bottom",
      duration:1000,
      distance:"2rem",
      delay:300,
  })
  sr.reveal(".js-bottom",{
      origin: "top",
      duration:1000,
      distance:"2rem",
      delay:300,
  })

</script>
<script>
  const slides = document.querySelectorAll('.slide')
const clearActives = () => {
  slides.forEach(slide => slide.classList.remove('active'))
}
const setActive = (e) => {
  clearActives()
  e.target.classList.add('active')
}
slides.forEach(slide => {
  slide.addEventListener('click', setActive)
})


</script>