
<!DOCTYPE html>
<html>
  <head>
    <title>ARC Dekorasyon | Ankara Dekorasyon</title>
    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/media/image-default/logo.png" />
    <!-- CSS Plugins -->
    <link rel="stylesheet" href="https://madsparrow.me/emily/assets/css/plugins.min.css">
    <!-- Custom CSS File -->
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <div class="ms-main-container">
      <!-- Preloader -->
      <div class="ms-preloader"></div>
      <!-- Header -->
      <header class="ms-header navbar-white">
        <nav class="ms-nav">
          <div class="ms-logo">
            <a href="/" data-type="page-transition">
              <div class="logo-light "><img src="/media/image-default/ARC LOGO.png" alt="logo image"></div>
              <div class="logo-dark current"><img src="/media/image-default/ARC LLOGO 2.png" alt="logo image"></div>
            </a>
          </div>
          <button class="hamburger" type="button" data-toggle="navigation">
          <span class="hamburger-box">
            <span class="hamburger-label">MENÜ</span>
            <span class="hamburger-inner"></span>
          </span>
          </button>
          <div class="height-full-viewport">
            <ul class="ms-navbar">
              <!-- Nav Link -->
              <li class="nav-item">
                <a href="/" data-type="page-transition">
                  <span class="ms-btn">ANA SAYFA</span>
                  <span class="nav-item__label">Ana sayfaya dön</span>
                </a>
              </li>
              <!-- Nav Link -->
              <li class="nav-item">
                <a href="/about-us" data-type="page-transition">
                  <span class="ms-btn">KURUMSAL</span>
                  <span class="nav-item__label">Hakkımızda daha fazla</span>
                </a>
              </li>
              <!-- Nav Link -->
              <li class="nav-item">
                <a href="/services" data-type="page-transition">
                  <span class="ms-btn">HİZMETLER</span>
                  <span class="nav-item__label">Neler yapıyoruz?</span>
                </a>
              </li>
              <!-- Nav Link -->
              <li class="nav-item">
                <a href="/gallery" data-type="page-transition">
                  <span class="ms-btn">GALERİ</span>
                  <span class="nav-item__label">Çalışmalarımızı görüntüle</span>
                </a>
              </li>
              <!-- Nav Link -->
              <li class="nav-item">
                <a href="/contact-us" data-type="page-transition">
                  <span class="ms-btn">İLETİŞİM</span>
                  <span class="nav-item__label">Hemen ulaşın</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <section class="banner">
        <div class="banners js-bottom">
          <div id="verticle"></div>
          <h2>HİZMETLER</h2>
        </div>
      </section>

      <section id="second">
        <div id="article_container" >
          <div class="article_container_img4 js-top "></div>
          <div class="article_container_content js-top">
               <div class="the ">
                   <div class="line "></div>
                   <h4>HİZMETLER</h4>
                   <div class="line"></div>
               </div>
               <h1 class="baslık">BOYA & BADANA</h1>
               <div class="divider "></div>
               <p>
                  1992'den bu yana sektördeki tecrübemizle evleriniz ve ofisleriniz A kalite malzemelerle ve 1. sınıf işçilikle gerçekleştirilir. Size sadece hayal etmek kalır. 
                  <br>
                  Ev, iş yeri, Otel, Fabrika, Restaurant vb. her türlü ortam için boya badana işlerinizi verdiğimiz süreç içerisinde bitirme garantisi ile bizimle çalışabilirsiniz. Firmamızın uzman ekipleri yapılacak uygulama yerinde keşif yapıp, size öneriler sunarak ne tür bir boyaya ihtiyacınız olduğunu öneriler ve tecrübeler ile anlatarak sorunsuz bir işe sahip olmanız için çözümler üretir. Renk kataloğunda sunacağımız çeşitlerden birisini seçtikten sonra boyayı temin edip, boyacı ustası boya badana sürecini başlatmaktadır.
                  <br>▹ Dekoratif Boya
                  <br>▹ Saten Boya
                  <br>▹ Yağlı Boya
                  <br>▹ Plastik Boya
                  <br>▹ Epoksi Boya
                  <br>▹ Dış Cephe Kaplamaları ve Boyası
                  <br>▹ Kireç Badana
                  <br>▹ Yol Boyaları
                  <br>▹ Elektrostatik Boya
                  <br>▹ Dekoratif Boya ve kaplamalar
                  <br>▹ Lake Boya
  
               </p>
               
          </div>
          
       </div>
      </section>
  
      <section id="third" class="article_containerr">
        <div id="article_container" class="article_containerr">
          <div class="article_container_img3 js-top hidee"></div>
          <div class="article_container_content js-top">
               <div class="the hidee">
                   <div class="line hidee"></div>
                   <h4 class="hidee">HİZMETLER</h4>
                   <div class="line hidee"></div>
               </div>
               <h1 class="baslık">ALÇIPAN</h1>
               <div class="divider "></div>
               <p>
                  İç mekan dekorasyonların vazgeçilmez parçaları olan asma tavan, bölme duvar gibi yapılar farklı tasarımlarla mekanınıza hayat veriyor.
                <br> <strong>▹ Yer döşemesi:</strong> Uygulama alanlarından bir tanesidir. Bulunmuş olduğunuz yere gore dilediğiniz kalıpta alçıpan yapmış oldurabilirsiniz.
  
                <br><strong>▹ Duvar giydirme:</strong> Uygulama alanlarından bir tanesidir. Bulunduğunuz yerdeki oda duvarlarına istediğiniz şekilde giydirme yapabilirsiniz.
  
                <br><strong>▹ Bölme duvar:</strong> Uygulama alanlarından bir tanesidir. Bulunduğunuz yerdeki ofisin yada evinizin öteki odalara ulaşımını sağlar. Örneğin; mutfaktan salona açılan bölme duvar. 
  
                <br><strong>▹ Yer döşemesi: </strong>gene uygulama alanlarından bir tanesidir. Yine ofisinizin yada evinizin yer durumuna göre uygun ölçü ve kalite ile döşenmesidir.
  
                <br><strong>▹ Asma tavan: </strong>Uygulama alanlarından bir tanesidir. Genellikle ofisler için geçerlidir. Yüksek odalı yerleri asma tavan ile bölüp çift şekilde kullanma olanağı sağlar.
               </p>
               
          </div>
          
       </div>
      </section>
  
      <section id="forth" class="article_containerr">
        <div id="article_container" class="article_containerr" >
          <div class="article_container_img6 js-top hidee"></div>
          <div class="article_container_content js-top">
            <div class="the hidee">
              <div class="line hidee"></div>
              <h4 class="hidee">HİZMETLER</h4>
              <div class="line hidee"></div>
          </div>
               <h1 class="baslık">İÇ & DIŞ CEPHE TADİLAT</h1>
               <div class="divider "></div>
               <p>
                  İç ve dış cephe tadilat işleriniz, mağaza, ev, ofis tamiratları yapılmaktadır.
                 <br>▹ Asma tavan uygulamaları
                 <br>▹ Gergi tavan uygulamaları 
                 <br>▹ Alçı sıva yapılması
                 <br>▹ Elektrik tesisatı yapımı
                 <br>▹ Su tesisatı yapımı
                 <br>▹ Boya yapılması
                 <br>▹ Parke kaplama
               </p>
               
          </div>
          
       </div>
      </section>
      
      <footer class="footer" style="margin-top: 130px;">
        <div class="footer__addr">
          <img src="/media/image-default/ARC LLOGO 2.png" alt="">
          <p style="font-size:1.125rem;">A kalite malzemelerle ve birinci sınıf işçilikle yapılan tüm işler farkını ilk bakışta ortaya koyar. Hemen ulaşın hayalini kurduğunuz mekana sahip olun.</p>
        </div>
        
        <ul class="footer__nav">
          <li class="nav__item">
            <h2 class="nav__title">GEZİNTİ</h2>
      
            <ul class="nav__ul">
              <li>
                <a href="/">Ana Sayfa</a>
              </li>
              <li>
                <a href="/about-us">Kurumsal</a>
              </li>
              <li>
                <a href="/services">Hizmetler</a>
              </li>
      
              <li>
                <a href="/gallery">Galeri</a>
              </li>
              <li>
                <a href="/contact-us">İletişim</a>
              </li>
            </ul>
          </li>
          
          
          <li class="nav__item">
            <h2 class="nav__title">SOSYAL MEDYA</h2>
            
            <ul class="nav__ul ">
              <li>
                <a><i class="bi bi-instagram"> Instagram</i></a>
              </li>
              
              <li>
                <a><i class="bi bi-facebook"> Facebook</i></a>
              </li>
              <li>
                <a href="https://wa.me/+905324450905"><i class="bi bi-whatsapp"> Whatsapp</i></a>
              </li>
              
      
            </ul>
          </li>
          
          <li class="nav__item">
            <h2 class="nav__title">İLETİŞİM</h2>
            
            <ul class="nav__ul">
              <li>
                <a href="tel:+905324450905">Telefon: 0532 445 09 05</a>
              </li>
              
              <li>
                <a href="https://wa.me/+905324450905">Whatsapp: 0532 445 09 05</a>
              </li>
              
             
            </ul>
          </li>
        </ul>
        
        <div class="legal">
          <p>2022 &copy; ARC Dekorasyon </p>
          
          <div class="legal__links">
           <a href="https://tetasoftware.com" target="_blank"><img src="/media/image-default/teta-logo-2.png" alt=""></a>
          </div>
        </div>
      </footer>

    </div>
    <!-- JS Libraries -->
    <script src="https://kit.fontawesome.com/20583e3abd.js" crossorigin="anonymous"></script>
    <!-- jquery-2.1.3.min js -->
    <script type="text/javascript" src='https://madsparrow.me/emily/assets/js/jquery-3.2.1.min.js'></script>
    <!-- Vendors -->
    <script type="text/javascript" src='https://madsparrow.me/emily/assets/js/plugins.min.js'></script>
    <!-- Main js -->
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
  </body>
</html>


<script>
  window.sr=ScrollReveal();
  sr.reveal(".js-left",{
      origin: "left",
      duration:1000,
      distance:"15rem",
      delay:300,
  })
  sr.reveal(".js-right",{
      origin: "right",
      duration:1000,
      distance:"15rem",
      delay:300,
  })
  sr.reveal(".js-top",{
      origin: "bottom",
      duration:1000,
      distance:"1rem",
      delay:300,
  })
  sr.reveal(".js-bottom",{
      origin: "top",
      duration:1000,
      distance:"1rem",
      delay:300,
  })

</script>
