asgiref==3.5.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
cycler==0.11.0
distlib==0.3.4
Django==3.2.15
django-admin-thumbnails==0.2.6
django-ckeditor==6.2.0
django-cleanup==6.0.0
django-currencies==0.10.1
django-js-asset==2.0.0
django-mptt==0.13.4
django-user-visit==0.4
et-xmlfile==1.1.0
filelock==3.6.0
fonttools==4.37.1
gunicorn==20.1.0
idna==3.3
jsonfield==2.1.1
kiwisolver==1.4.4
matplotlib==3.5.3
numpy==1.23.2
openpyxl==3.0.10
packaging==21.3
pandas==1.4.4
Pillow==9.0.1
platformdirs==2.5.1
prettytable==3.4.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
requests==2.27.1
scipy==1.9.1
seaborn==0.11.2
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
tzdata==2022.1
ua-parser==0.16.1
urllib3==1.26.9
user-agents==2.2.0
virtualenv==20.13.1
virtualenvwrapper-win==1.2.7
wcwidth==0.2.5
wordcloud==1.8.2.2
